{% extends "../base/base.html" %}


{% block title %} NMAP - Detaily {% endblock %}

{% block content %}



<div class="container pt-5">
    <h1 class="pt-5">NMAP Detaily</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Mauris ut commodo purus, in faucibus nisl. Nullam nec enim at massa sollicitudin aliquet
         vulputate vehicula metus. Integer volutpat sapien eu mauris aliquet, sit amet imperdiet risus elementum.
          Donec id porttitor quam, eget suscipit arcu. Morbi dolor ipsum, porttitor sit amet sem consectetur, venenatis
           scelerisque nunc. Vestibulum erat lacus, pulvinar et ultrices eu, tincidunt vitae risus. Proin non dolor massa.</p>
  </div>


        <section class="aboutSection bg-light" id="about">
            <div class="container px-6 w-100">
                <div class="row gx-4 justify-content-center w-100">
                    <div class="col-md-8 w-100">
                        <h2>Dopln Nadpis</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut commodo purus, 
                            in faucibus nisl. Nullam nec enim at massa sollicitudin aliquet vulputate vehicula
                             metus. Integer volutpat sapien eu mauris aliquet, sit amet imperdiet risus elementum.
                              Donec id porttitor quam, eget suscipit arcu. Morbi dolor ipsum, porttitor sit amet 
                              sem consectetur, venenatis scelerisque nunc. Vestibulum erat lacus, pulvinar et ultrices eu,
                               tincidunt vitae risus. Proin non dolor massa..</p>
                            <br>
                        <h4>Využití:</h4>
                        <ul>
                            <li>Audit služeb a systémů v počítačových sítích.</li>
                            <li>Správa sítě a síťových zdrojů.</li>
                            <li>ZNástroj pro bezpečnostní audity a penetrační testování.</li>
                            <li>Mapování sítí od malých až po korporátní rozlehlé sítě</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}