{% extends "../base/base.html" %}
{% block title %}Nmap - History{%endblock%}
{% block content %}
    <!-- Header-->


    <div class="container pt-5">
        <h1 class="pt-5">NMAP Historie</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Mauris ut commodo purus, in faucibus nisl. Nullam nec enim at massa sollicitudin aliquet
             vulputate vehicula metus. Integer volutpat sapien eu mauris aliquet, sit amet imperdiet risus elementum.
              Donec id porttitor quam, eget suscipit arcu. Morbi dolor ipsum, porttitor sit amet sem consectetur, venenatis
               scelerisque nunc. Vestibulum erat lacus, pulvinar et ultrices eu, tincidunt vitae risus. Proin non dolor massa.</p>
      </div>

    <!-- About section-->
    <section class="aboutSection" id="about">

        <div class="container px-6 w-100">
            <div class="row gx-4 justify-content-center w-100">
                <div class="col-md-8 w-100">
                    <h4><b>The Art of Port Scanning</b></h4>
                    <p>
                        V roce <b>1997</b> spatřil nástroj nmap světlo denní v magazínu Phrack.
                        Jednalo se o jednoduchý program v jayzce C, který si uživatel přeložil
                        pomocí GCC.
                        Hlavní myšlenkou autora bylo vyzkoumat co nejvíce možných poslouchačů na co nejvíce otevřených portech.

                    </p>
                </div>
            </div>
        </div>
    </section>

{%endblock%}
