{% extends "../base/base.html" %}
{% load static %}

{% block title %} NMAP - Testy {% endblock %}

{% block content %}



<div class="container pt-5">
    <h1 class="pt-5">NMAP testy</h1>
    <p class="lead">Nástroj NMAP je možno použít i v rámci větších, rozsáhlejších operací. Pro automatizaci práce s nástrojem je možné použít BASH či BATCH skripty.</p>
  </div>


        <section class="aboutSection bg-light" id="about">
            <div class="container px-6 w-100">
                <div class="row gx-4 justify-content-center w-100">
                    <div class="col-md-8 w-100">
                        <h2>Případy užití</h2>
                        <p>Účely pro které se NMAP nástroj využívá ve většině případů vyžaduje více než-li jeden sken. Proto se ve většině případů v rámci jednoho procesu provádí větší počet různorodých skenů.</p>
                        <h4>1. Praktické skenování sítě</h4>
                        <p>Následující snímky zobrazují využití nástroje nmap prakticky na síti v rámci "domácího skenu sítě".</p>
                        <p>1. sken byl proveden příkazem 
                            <div class="card">
                                <div class="card-body">$nmap -sV 192.168.0.0/24
                                </div></div>
                                Ten má, kromě otevřených portů v daném rozsahu, zjistit i informace o operačním systému zařízení. V tomto případě užití bylo 8 zařízení neznámých (nebylo možno rozeznat operační systém), ale na základě služeb s otevřenými porty lze rozeznat o jaké zařízení se jedná.</p>
                        <figure class="figure col-md-6">
                            <img src="{% static 'images/os_scan.png' %}" style="width:100%;">
                            <figcaption class="figure-caption">Výsledek 1. skenu. Odpovědělo 12 zařízení, na snímku je vidět Mac OS a jeho otevřené porty.</figcaption>
                            </figure>
                            <p>2. navazující sken se zaměřuje na konkrétní zařízení (Mac OS z předchozího snímku).</p>
                            <figure class="figure col-md-6">
                                <img src="{% static 'images/mac.png' %}" style="width:100%;">
                                <figcaption class="figure-caption">Výsledek 2. skenu ukazuje více informací o otevřených portech daného zařízení.</figcaption>
                                </figure>
                                <p>3. sken byl spuštěn s parametrem -A (agresivní), čímž se zvýšila šance na detekci skenu. Avšak nám bylo odhaleno více informací a to hlavně díky použití NSE skriptu zaměřený na SMB2, který nám odhalil 
                                    i konkrétní model počítače a verze služeb s otevřenými porty. Dále je možno spustit stejný příkaz s příkazem -d (debug), jak nám sám nmap radí.</p>
                                <figure class="figure col-md-6">
                                    <img src="{% static 'images/air.png' %}" style="width:100%;">
                                    <figcaption class="figure-caption">Výsledek 3. skenu zjistil, že se jedná o zařízení Mac Book Air.</figcaption>
                                    </figure>
                                <h4>2. Hledání web serveru a uložení do souboru</h4>
                                <p>V tomto případě za použití pouze jednoho příkazu bude síť otestována na přítomnost webového serveru a výsledek se přímo zapíše do xml souboru.</p>
                                
                                <div class="card">
                                    <div class="card-body">
                                        $nmap -Pn -p80 -oX /home/lowpeak/Documents/pb-port80scan.xml -oG /home/lowpeak/Documents/pb-port80scan.gnmap 192.168.0.0/24
                                        -Pn = vypne ping
                                        -p80 = pouze port 80
                                        -oX = vystup do xml
                                        -oG = grepable a výstup do konzole
                                    </div>
                                  </div>
                                  <figure class="figure col-md-6">
                                    <img src="{% static 'images/xml.png' %}" style="width:100%;">
                                    <figcaption class="figure-caption">192.168.0.1 odpovídá web serveru routeru (Default gateway).</figcaption>
                                    </figure>
                                    <h4>3. Trasování paketů</h4>
                                    <div class="card">
                                        <div class="card-body">
                                            $nmap -sn 192.168.1.103 --packet-trace
                                        </div>
                                      </div>
                                    <p>Zde můžete pozorovat první dva pakety SENT/RECD (odeslané/přijaté), které ukazují ARP požadavek od 192.168.1.105 na 192.168.1.103, a následně byly použity knihovny 
                                        NSOCK k určení aktuálních požadavků a odpovědí, které cestují mezi zdrojovým a cílovým routerem. </p>
                                    <figure class="figure col-md-6">
                                        <img src="{% static 'images/7.png' %}" style="width:100%;">
                                        <figcaption class="figure-caption">NMAP ARP sken hostu 192.168.1.103</figcaption>
                                        </figure>
                                        
                                            <div class="card">
                                                <div class="card-body">
                                                    $nmap -sn 192.168.1.103 --reason
                                                </div>
                                              </div>
                                              <br>
                                            <figure class="figure col-md-6">
                                                <img src="{% static 'images/8.png' %}" style="width:100%;">
                                                <figcaption class="figure-caption">Zde je vidět, že host odpověděl na ARP request.</figcaption>
                                                </figure>
                                                <p>Nmap ve výchozím nastavení, v tomto případě, odesílá ARP paket pro zjištění stavu hostitele.
                                                    Nyní budeme sledovat Nmap paket.</p>
                                                    <div class="card">
                                                        <div class="card-body">
                                                            $nmap -sn 192.168.1.103 --packet-trace --disable-arp-ping
                                                        </div>
                                                      </div>
                                                      <br>
                                                      <figure class="figure col-md-6">
                                                        <img src="{% static 'images/9.png' %}" style="width:100%;">
                                                        <figcaption class="figure-caption">Zde je vidět TCP SYN (port 443) a TCP ACK (port 80).</figcaption>
                                                        </figure>

                        <p>Další příkazy jsou sepsány zde: <a href="https://www.stationx.net/nmap-cheat-sheet/">NMAP příkazy</a></p>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}