{% extends "../base/base.html" %}


{% block title %} NMAP - Home {% endblock %}

{% block content %}

        <!-- Header-->
        <header class="bg-primary bg-gradient text-white">
            <div class="container px-4 text-center">
                <h1 class="fw-bolder">Nástroj pro skenování portů - Nmap</h1>
                <p >Tento web se zabývá nástrojem Nmap v rámci projektu do školního předmětu "Kybernetická Bezpečnost"</p>
                <a class="btn btn-lg btn-light" href="#about">Co je to Nmap?</a>
            </div>
        </header>
        <!-- About section-->
        <section class="aboutSection" id="about">
            <div class="container px-6 w-100">
                <div class="row gx-4 justify-content-center w-100">
                    <div class="col-md-8 w-100">
                        <h2>Popis</h2>
                        <p>Nmap, neboli <b>Network MAPer</b>, je bezpečnostní skener portů vyvinutý <b>Gordonem Lyonem</b>. 
                            Primárně se tento nástroj používá k hledání hostitelských počítačů a služeb na počítačové síti, čili k vytvoření 
                            pomyslné "mapy" sítě. Aby Nmap mohl vykonávat tyto úkoly, odesílá na cílový počítač speciálně upravené pakety a 
                            poté analyzuje odpovědi.</p>
                            <br>
                        <h4>Nmap umožňuje:</h4>
                        <ul>
                            <li>Zjištění otevřených portů na jednom nebo více počítačích.</li>
                            <li>Identifikování služby běžící na těchto portech.</li>
                            <li>Zjištění typu operačního systému běžícího na daném počítači (OS fingerprinting).</li>
                            <li>Pomocí NSE (Nmap Scripting Engine), který byl představen ve verzi 4.50, je možné interaktivně komunikovat s cílovým systémem.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section class="aboutSection bg-light" id="about">
            <div class="container px-6 w-100">
                <div class="row gx-4 justify-content-center w-100">
                    <div class="col-md-8 w-100">
                        <h2>Historie</h2>
                        <p></p>
                            <br>
                        <h4>Využití:</h4>
                        <ul>
                            <li>Audit služeb a systémů v počítačových sítích.</li>
                            <li>Správa sítě a síťových zdrojů.</li>
                            <li>Nástroj pro bezpečnostní audity a penetrační testování.</li>
                            <li>Mapování sítí od malých až po korporátní rozlehlé sítě</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}